<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.css">
    
    <link rel="stylesheet" href="/stylesheets/semantic.css">
 
    <script src="/javascripts/jquery-v03.min.js"></script>
    <script src="/javascripts/semantic.min.js"></script>
    <script src="/javascripts/fontawasome.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>

<body class="bg-light " ng-app="">
    
    <!-- top navbar -->
    <nav class="ui top fixed   menu mobile-nav shadow-sm ">
        <div class="left menu">
            <a href="#" class="sidebar-menu-toggler item" data-target="#sidebar">
                <i class="fas fa-bars"></i>
            </a>
            <a href="#" class="item header">Manage<span class=" text-primary">Pie</span></a>
        </div>
        <div class="right menu">
            <div class="ui dropdown item">
               <i class="fas fa-cog"></i>
                <div class="menu">
                    <a href="#" class="item"><i class="far fa-user"></i> Profile</a>
                    <a href="#" class="item"><i class="fas fa-power-off"></i> Sign Out</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- end of navbr -->

 
    <!-- sidebar -->
    <div class="ui sidebar  border-0  vertical menu sidebar-menu   " id="sidebar">
        <div class="item  border-0">
           <div class="header  py-3 pb-4">

                <img class="ui centered small image" src="/images/logo-06.svg">

            </div>
            <div class="    item">
                <div class="header text- ">
                 <i class="far fa-chart-bar mr-2"></i>   General

                </div>
                <div class=" menu pl-5 ">
                    <a href="/admin/dashboard" class="header item">
                        <div>
                            <!-- <i class="icon tachometer alternate average mr-3"></i>  -->
                            Dashboard
                        </div>

                    </a>
                    <a href="#" class="header item">
                        <div>
                            <!-- <i class="icon tachometer alternate average mr-3"></i>  -->
                            Profile
                        </div>
                    </a>
                    <a href="#" class="header item">
                        <div>
                            <!-- <i class="icon tachometer alternate average mr-3"></i>  -->
                            Email
                        </div>
                    </a>
                </div>
            </div>


         

            <div class="   item">
                <div class="header text- ">
                  <i class="fas fa-piggy-bank"></i> <span class="ml-2">Accounts</span>
                </div>
                <div class=" menu pl-5">
                    <a href="#" class="header item">
                        <div class="py-1">
                            <!-- <i class="icon user mr-3"></i>  -->
                            Sale
                        </div>

                    </a>
 
                    <a href="#" class=" header item">
                        <div class="py-1">
                            <!-- <i class="icon chart bar mr-3"></i> -->
                            Expenses
                        </div>
                    </a>
                    <a href="#" class="header item">
                        <div class="py-1">
                            <!-- <i class="icon chart line mr-3"></i> -->
                            Profit
                        </div>
                    </a>
                    
                </div>
            </div>
           
<a href="/admin/users/" class="  {{#if userPath}} active {{/if}} item">
     <div class="   header m-0 p-0  ">
          <i class="far fa-user "></i>  <span class="ml-2">Users</span> 
     </div>
</a>
<a href="/admin/plans/" class=" item {{#if packagePath}} active {{/if}}">
     <div class="header m-0 p-0 text- ">
                  <i class="far fa-folder "></i> <span class="ml-2">Packages</span> 
                </div>
</a>
<a href="/admin/users/" class=" item">
     <div class="header m-0 p-0 text- ">
                 <i class="far fa-comment-dots"></i> <span class="ml-2">Feedback</span> 
                </div>
</a>
<a href="/admin/users/" class=" item">
     <div class="header m-0 p-0 text- ">
                 <i class="fas fa-chart-line"></i> <span class="ml-2">Charts</span> 
                </div>
</a>
<a href="/admin/database/" class=" {{#if databasePath}} active {{/if}} item">
     <div class="header m-0 p-0 text- ">    
                 <i class="fas fa-server"></i> <span class="ml-2">Database</span> 
                </div>
</a>
<a href="/admin/users/" class=" item">
     <div class="header m-0 p-0 text- ">
                 <i class="far fa-bell"></i> <span class="ml-2">Notification</span> 
                </div>
</a>
<a href="/admin/users/" class=" item">
     <div class="header m-0 p-0 text- ">
                 <i class="far fa-comment"></i> <span class="ml-2">SMS</span> 
                </div>
</a>
<a href="/admin/users/" class=" item">
     <div class="header m-0 p-0 text- ">
                 <i class="fas fa-power-off"></i> <span class="ml-2">Logout</span> 
                </div>
</a>

        </div>
    </div>
    <!-- end of sidebar -->



  
      <div class="pusher">
        <div class="main-content  ">
  <div class="ui basic blurring segment">
      <div class="ui active  inverted dimmer" id="dashboard-preloader">
    <div class="ui text  loader">Loading</div>
  </div>

{{{body}}}



  </div>

         
    </div>
      </div>

    <script src="/javascripts/custom.js"></script>

</body>

</html>
