  <style>
 
  </style>
<div class="ui container ">


    <div class="ui stackable grid">
        <div class="ui five wide p-0  column">

            <div class="ui basic placeholder  h-100 segment">
                <div class="pl-5 ">
                    <h1 class="m-0  font-weight-bold text-primary">Institute & School <br>
                        Management Software</h1>
                    <p>Automate everything, Generate insightful reports, Make better & faster decisions</p>
                    <a href="#" class="ui orange button">
                        Try Free Demo
                    </a>
                </div>
            </div>

        </div>
        <div class="ui eleven wide column">
            <img src="/images/banner-02.jpg" class="w-100" alt="">
        </div>
    </div>
</div>

<div class="ui orange inverted placeholder segment   m-0 border-radius-0">

    <div class="ui container">
        <div class="ui center aligned basic segment">
            <h2 class=" mb-2 text-white">Why should <br> ManagePie be part of your institute?</h2>
            <p class="text-white-70">School management software which includes everything your institution will ever
                need</p>

        </div>
        <div class="ui divider"></div>
        <div class=" ui four column stackable grid">
            <div class="ui row m-0">
                <div class="ui column">
                    <div class="ui card shadow-lg h-100">
                        <div class="content text-center">
                            <h1 class="text-primary display-4 mt-4">
                                <i class="fab fa-wpforms"></i>
                            </h1>
                            <div class="center aligned  header">Paperless Admission</div>
                            <div class="center aligned description">
                                <p>Simplifies admission tracking, document submission, batch allotment, admission form
                                    customization and more.</p>
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="center aligned author">
                                <a href="#" class="primary-link">Read More <span class="ml-2"><i class="fas fa-long-arrow-alt-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui column">
                    <div class="ui card shadow-lg h-100">
                        <div class="content text-center">
                            <h1 class="text-primary display-4 mt-4">
                                <i class="fas fa-rupee-sign"></i>
                            </h1>

                            <div class="center aligned  header  ">Fees Management</div>

                            <div class="center aligned description">
                                <p>Automatic fee collection, calculate tax on the types of fee transactions. Imply fine
                                    on late fees, add instant discounts, and monitor fee defaulters.</p>
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="center aligned author">
                                <a href="#" class="primary-link">Read More <span class="ml-2"><i class="fas fa-long-arrow-alt-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui column">
                    <div class="ui card shadow-lg h-100">
                        <div class="content text-center">
                            <h1 class="text-primary display-4 mt-4">
                                <i class="far fa-user"></i>
                            </h1>
                            <div class="center aligned  header">User Management</div>
                            <div class="center aligned description">
                                <p>Manually managing details of employees, students, parents, and other staff members is
                                    a tiresome task for the admin.</p>
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="center aligned author">
                                <a href="#" class="primary-link">Read More <span class="ml-2"><i class="fas fa-long-arrow-alt-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui column">
                    <div class="ui card shadow-lg h-100">
                        <div class="content text-center">
                            <h1 class="text-primary display-4 mt-4">
                                <i class="far fa-question-circle"></i>
                            </h1>
                            <div class="center aligned  header">Enquiry Management</div>
                            <div class="center aligned description">
                                <p>Parents/students can enquire about a course before filling out a detailed
                                    registration form.</p>
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="center aligned author">
                                <a href="#" class="primary-link">Read More <span class="ml-2"><i class="fas fa-long-arrow-alt-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
            
        </div>
       
        <div class="ui center aligned basic py-5 segment">
            <h3 class="text-white">+50 other awesome modules in ManagePie</h3>
            <a href="#" class="ui black button shadow">Explore More Features <span class="ml-2"><i class="fas fa-long-arrow-alt-right"></i></span></a>
        </div>
    </div>

</div>
 <div class="ui container">
     <div class="ui basic center aligned segment py-5">
         <div class="ui  center mb-2 aligned header">
             <h2>Start Using Managepie for Your Institute Today!</h2>
         </div>
         <p>Learn how institute/School ERP can revolutionize <br> the way your deliver education,  improve stakeholder collaboration & improve decision making.</p>
     </div>
   
  <!-- Swiper -->
  <div class="swiper-container  ui   grid ">
    <div class="swiper-wrapper">
        {{#each plans as |plan|}}
            <div class="swiper-slide ui column">
                <div class="ui basic segment mb-5">
  <div class="ui  orange  segment ">
    <div class="content">
      <div class="ui orange header"><h2>₹{{this.cost}}/-</h2></div>
        
      <div class="meta"> {{this.name}} </div>
       
      <div class="description">
       <b>Duration : </b> {{this.duration}} {{this.durationPeriod}}
      </div>
    </div>
  </div>
                </div>
            </div>
        {{/each}}
       
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>

 </div>

<div class="ui container">
    
</div>

   <script>
    var swiper = new Swiper('.swiper-container', {
         autoHeight: true, //enable auto height
      slidesPerView: 4,
      spaceBetween: 10,
      mousewheel: true,
       
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });
  </script>