<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.css">
    {{!-- <link rel="stylesheet" href="/stylesheets/icon.css"> --}}
    <link rel="stylesheet" href="/stylesheets/semantic.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui-icon@2.3.3/icon.min.css">
    <script src="https://kit.fontawesome.com/f3f8e909be.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="/javascripts/semantic.min.js"></script>

</head>

<body>
    {{{body}}}
     <script src="/javascripts/custom.js"></script>
</body>

</html>
