<script type="text/javascript" src="/javascripts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['bar'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Month', 'Income', 'Expenses', 'Profit'],
            ['Jan', 1000, 400, 200],
            ['Feb', 1170, 460, 250],
            ['Mar', 660, 1120, 300],
            ['Apr', 200, 540, 350],
            ['May', 10, 540, 350],
            ['Jun', 300, 540, 350],
            ['Jul', 100, 540, 350],
            ['Aug', 40, 400, 200],
            ['Sep', 30, 460, 250],
            ['Oct', 1100, 1120, 300],
            ['Nov', 700, 540, 350],
            ['Dec', 200, 540, 350]


        ]);

        var options = {
            colors: ['#FF6900', '#FF3900', '#C41E00'],
            chart: {
                title: 'Company Performance',

                subtitle: 'Income, Expenses and Profit Year : 2020',


            }

        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
    }
</script>
<div class="ui grid stackable padded">
    
    <!-- top icons row -->
    <div class="row m-0">
        <div class="sixteen wide column">
            <div class="ui stackable grid padded">
                <div class="ui row m-0">
                    <div class="ui five wide computer seven wide tablet thirteen wide mobile column px-0 pb-3">
                        <div class="ui   basic bg-white fluid shadow-sm                 buttons">
                            <div class="ui   pointing dropdown  button">
                                <i class="fas fa-print mr-2"></i> Print
                                <div class="menu shadow-sm                ">
                                    <a href="#" class="item">Admission Form</a>
                                    <a href="#" class="item">Query Form</a>
                                    <a href="#" class="item">FeedBack Form</a>
                                </div>
                            </div>

                            <div class="ui    pointing dropdown  button">
                                <i class="fas fa-download mr-2"></i> Download
                                <div class="menu shadow-sm                ">
                                    <div class="ui icon search input">
                                        <i class="search icon"></i>
                                        <input type="text" placeholder="Search ">
                                    </div>

                                    <div class="header">
                                        <i class="icon file alternate outline"></i> FORMS
                                    </div>

                                    <div class="scrolling menu">
                                        <a href="#" class="item">Admission </a>
                                        <a href="#" class="item">Query </a>
                                        <a href="#" class="item">Feed Back </a>
                                    </div>

                                </div>
                            </div>
                            <button class="ui button">
                                <i class="fas fa-search mr-2"></i> Search
                            </button>
                        </div>
                    </div>
                    <div class="ui eight wide computer six wide tablet three wide mobile column   px-4 pb-3">
                        {{#if user.premium}}
                        <div class="ui  labeled button raised" tabindex="0">
                            <div class="ui orange button">
                                 Upgrade Plan
                            </div>
                            <a class="ui basic orange left pointing label">
                              Expiry :  {{user.expiryDate}}
                            </a>
                        </div>
                        {{/if}}
                    </div>
                    <div class="ui three wide computer three wice tablet sixteen wide mobile column   px-0 pb-3">
                        <div class="ui  basic  bg-white fluid shadow-sm buttons">
                            <a href="/users/profile" class="ui   button">
                                <i class="far fa-user"></i>
                            </a>
                            <a href="#" class="ui  button">
                                <i class="far fa-envelope mr-2"></i>
                            </a>
                            <a href="#" class="ui   button">
                                <i class="fas fa-notification"></i>
                            </a>
                            <a href="/users/logout" class="ui  button">
                                <i class="fas fa-power-off"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
    <!-- end of toop icons row -->
    <h4 class="ui horizontal divider header "> Welcome ! {{user.instName}}</h4>
    <!-- First row -->
    <div class="row m-0">

        <!-- Students Card  -->
        <div class="four wide computer eight wide tablet sixteen wide mobile column pb-4">
            <div class="ui orange fluid     raised Segment  ">
                <div class="content">
                    <a href="#" class="circular ui right floated basic icon  button " data-content="Add new student">
                        <i class="fas fa-plus "></i>
                    </a>
                    <div class="header">
                        <div class="ui orange header p-0 m-0">
                            <h1 class="display-4">3958</h1>
                        </div>
                        <div class="ui black sub  header p-0 m-0">
                            Total Students
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End of student card -->

        <!-- faculty Card  -->
        <div class="four wide computer eight wide tablet sixteen wide mobile column">
            <div class="ui orange fluid Segment raised               ">
                <div class="content">
                    <a href="#" class="circular ui right floated basic icon  button " data-content="Add new faculty">
                        <i class="fas fa-plus "></i>
                    </a>
                    <div class="header">
                        <div class="ui orange header p-0 m-0">
                            <h1 class="display-4">255</h1>
                        </div>
                        <div class="ui black sub   header p-0 m-0">
                            Total Faculty
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End of faculty card -->
        <!-- Staff Card  -->
        <div class="four wide computer eight wide tablet sixteen wide mobile column ">
            <div class="ui orange fluid Segment raised               ">

                <div class="content">

                    <a href="#" class="circular ui right floated basic icon  button " data-content="Add new staff">
                        <i class="fas fa-plus "></i>
                    </a>

                    <div class="header">
                        <div class="ui orange header p-0 m-0">
                            <h1 class="display-4">45</h1>
                        </div>
                        <div class="ui black sub   header p-0 m-0">
                            Total Staff Members
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Staff card -->
        <!-- queries Card  -->
        <div class="four wide computer eight wide tablet sixteen wide mobile column">

            <div class="ui orange fluid Segment raised ">


                <div class="content">
                    <a href="#" class="circular ui right floated basic icon  button ">
                        <i class="fas fa-plus "></i>
                    </a>

                    <div class="header">
                        <div class="ui orange header p-0 m-0">
                            <h1 class="display-4">25</h1>
                        </div>
                        <div class="ui black sub   header p-0 m-0">
                            Queries
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of queries card -->

    </div>
    <!-- end of First row  -->

    <!-- second.row -->
    <div class="row m-0" id="second_row">
        <!-- Lrft container -->
        <div class="eleven wide computer nine wide tablet sixteen wide mobile column dashboard-curve-chart">

            <div class="ui orange  stacked segment raised h-100">
                <button class="circular ui right floated basic icon tiny   button" data-inverted="orange"
                    data-tooltip="Refresh">
                    <i class="fas fa-sync-alt"></i>
                </button>




                <div id="columnchart_material" style="auto; height: 340px; " class="mt-2"></div>
            </div>
        </div>
        <!-- End of left container -->
        <!-- right containet -->
        <div class="five wide computer five seven sixteen mobile column ">
            <div class="ui orange raised  inverted segment px-0 " id="today-data">

                <h4 class="text-white font-weight-light px-5 pt-3 m-0">

                    Todat Data
                </h4>
                <div class="ui divider"></div>
                <div class="ui grid px-5 py-3">
                    <div class="five wide text-white-70 column text-center">
                        <h1 class=" m-0">12</h1>
                        <h3 class="text-white m-0 font-weight-light">Students</h3>
                    </div>
                    <div class="six wide text-white-70 column text-center">
                        <h1 class=" m-0">25</h1>
                        <h3 class="text-white m-0 font-weight-light">Queries</h3>
                    </div>
                    <div class="five wide text-white-70 column text-center">
                        <h1 class="  m-0">3</h1>
                        <h3 class="text-white m-0 font-weight-light">Feedback</h3>
                    </div>

                </div>
                <div class="px-3">

                </div>
            </div>
            <div class="ui stacked segment  " id="todo_container">
                <a class="ui orange basic ribbon label">To Do List</a>
            </div>
        </div>
        <!-- end of right containet -->
    </div>
    <!-- End of second row -->



</div>