<div class="ui grid stackable padded">
    <div class="ui row m-0">
        <div class="ui sixteen wide column">
         <div class="ui segment">
             <div class="ui three column stackable grid">
                 <div class="ui column">
                     <div class="ui orange header m-0">
                         {{user.instName}}
                     </div>
                     <div class="m-0 ui grey sub header">
                         {{user.email}}
                     </div>
                 </div>
                 
             </div>
         </div>
        </div>
    </div>
</div>
 